:root {
    --primary-color: #0C77D5;
    --global-font-size: 15px;
    --global-line-height: 1.4em;
    --global-space: 10px;
    --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
      serif;
    --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
      serif;
    --background-color: #FBF3DB;
    --page-width: 60em;
    --font-color: #677678;
    --invert-font-color: #FFFFFF;
    --secondary-color: #677678;
    --tertiary-color: #677678;
    --error-color: #ff3c74;
    --progress-bar-background: #3f3f44;
    --progress-bar-fill: #62c4ff;
    --code-bg-color: #FBF3DB;
    --input-style: solid;
    --display-h1-decoration: none;
}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    color: #586e75;
    background: var(--code-bg-color);
}

.hljs ::selection,
.hljs::selection {
    background-color: #93a1a1;
    color: #586e75
}

.hljs-comment {
    color: #839496
}

.hljs-tag {
    color: #657b83
}

.hljs-operator,
.hljs-punctuation,
.hljs-subst {
    color: #586e75
}

.hljs-operator {
    opacity: .7
}

.hljs-bullet,
.hljs-deletion,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable {
    color: #dc322f
}

.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
    color: #cb4b16
}

.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
    color: #b58900
}

.hljs-strong {
    font-weight: 700;
    color: #b58900
}

.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
    color: #859900
}

.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
    color: #2aa198
}

.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
    color: #268bd2
}

.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
    color: #6c71c4
}

.hljs-emphasis {
    color: #6c71c4;
    font-style: italic
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
    color: #d33682
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
    font-weight: 700
}

a {
    color: #0C77D5;
}

.terminal-prompt::before {
    content: "[kiky ~]$ ";
}

.image-grid {
    display: grid;
    grid-template-rows: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc(var(--page-width) / 12), 1fr)
    );
}

.coffee {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.coffee-icon {
    font-size: 40px;
    margin-right: 10px;
}
