:root {
    --primary-color: #0C77D5;
    --global-font-size: 15px;
    --global-line-height: 1.4em;
    --global-space: 10px;
    --font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
      serif;
    --mono-font-stack: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace,
      serif;
    --background-color: #FBF3DB;
    --page-width: 60em;
    --font-color: #677678;
    --invert-font-color: #FFFFFF;
    --secondary-color: #677678;
    --tertiary-color: #677678;
    --error-color: #ff3c74;
    --progress-bar-background: #3f3f44;
    --progress-bar-fill: #62c4ff;
    --code-bg-color: #3f3f44;
    --input-style: solid;
    --display-h1-decoration: none;
}

a {
    color: #0C77D5;
}

.terminal-prompt::before {
    content: "[kiky ~]$ ";
}

.image-grid {
    display: grid;
    grid-template-rows: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc(var(--page-width) / 12), 1fr)
    );
}

.bmc-button img{
    height: 34px !important;
    width: 35px !important;
    margin-bottom: 1px !important;
    box-shadow: none !important;
    border: none !important;
    vertical-align: middle !important;
}
.bmc-button {
    padding: 7px 15px 7px 10px !important;
    line-height: 35px !important;
    height:51px !important;
    text-decoration: none !important;
    display:inline-flex !important;
    color:#FFFFFF !important;
    background-color:#0C77D5 !important;
    border-radius: 4px !important;
    border: 1px solid transparent !important;
    padding: 7px 15px 7px 10px !important;
    font-size: 20px !important;
    letter-spacing:-0.08px !important;
    margin: 0 auto !important;
    font-family:'Lato', sans-serif !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
}
