:root {
    --primary-color: #60b48a;
    --global-font-size: 15px;
    --global-line-height: 1.4em;
    --global-space: 10px;
    --font-stack: Menlo, Monaco, Lucida Console,
        Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New, monospace, serif;
    --mono-font-stack: Menlo, Monaco, Lucida Console,
        Liberation Mono, DejaVu Sans Mono,
        Bitstream Vera Sans Mono,
        Courier New, monospace, serif;
    --background-color: #383838;
    --page-width: 60em;
    --font-color: #dcdccc;
    --invert-font-color: #FFFFFF;
    --secondary-color: #dcdccc;
    --tertiary-color: #dcdccc;
    --error-color: #ff3c74;
    --progress-bar-background: #383838;
    --progress-bar-fill: #62c4ff;
    --code-bg-color: #383838;
    --input-style: solid;
    --display-h1-decoration: none;
}

pre code.hljs {
    display: block;
    overflow-x: auto;
    padding: 1em
}

code.hljs {
    padding: 3px 5px
}

.hljs {
    color: #dcdccc;
    background: var(--background-color);
}

.hljs ::selection,
.hljs::selection {
    background-color: #606060;
    color: #dcdccc
}

.hljs-comment {
    color: #6f6f6f
}

.hljs-tag {
    color: grey
}

.hljs-operator,
.hljs-punctuation,
.hljs-subst {
    color: #dcdccc
}

.hljs-operator {
    opacity: .7
}

.hljs-bullet,
.hljs-deletion,
.hljs-name,
.hljs-selector-tag,
.hljs-template-variable,
.hljs-variable {
    color: #dca3a3
}

.hljs-attr,
.hljs-link,
.hljs-literal,
.hljs-number,
.hljs-symbol,
.hljs-variable.constant_ {
    color: #dfaf8f
}

.hljs-class .hljs-title,
.hljs-title,
.hljs-title.class_ {
    color: #e0cf9f
}

.hljs-strong {
    font-weight: 700;
    color: #e0cf9f
}

.hljs-addition,
.hljs-code,
.hljs-string,
.hljs-title.class_.inherited__ {
    color: #5f7f5f
}

.hljs-built_in,
.hljs-doctag,
.hljs-keyword.hljs-atrule,
.hljs-quote,
.hljs-regexp {
    color: #93e0e3
}

.hljs-attribute,
.hljs-function .hljs-title,
.hljs-section,
.hljs-title.function_,
.ruby .hljs-property {
    color: #7cb8bb
}

.diff .hljs-meta,
.hljs-keyword,
.hljs-template-tag,
.hljs-type {
    color: #dc8cc3
}

.hljs-emphasis {
    color: #dc8cc3;
    font-style: italic
}

.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
    color: #000
}

.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
    font-weight: 700
}

a,
.terminal-menu li a {
    color: var(--primary-color) !important;
}

a:hover,
.terminal-menu li a:hover {
    background-color: var(--primary-color) !important;
    color: var(--invert-font-color) !important;
}

.terminal-prompt::before {
    content: "[kiky ~]$ ";
}

.image-grid {
    display: grid;
    grid-template-rows: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fit,
            minmax(calc(var(--page-width) / 12), 1fr));
}